
html, body, div {
	margin: 0;
	padding: 0;
}

#container {
	background: #fcfff4;
	background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead));
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
	background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
	background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
	background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	height: 657px;
}

body {
	background: #b3bead !important;
}

<!--
CSS Menu -->ul,li {
	padding: 0;
	margin: 0;
	list-style: none;
}

#menu {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #eaeaea;
	overflow: hidden;
	height: 26px;
	border: 1px solid yellow;
}

#menu li {
	float: left;
	padding: 0 10px;
	width: 100px;
}

#menu li ul {
	position: absolute;
	display: none;
}

#menu li ul li {
	float: none;
	background: #9C6
}

#menu li ul li ul {
	position: absolute;
	margin-left: 100px;
	margin-top: -20px;
}

#menu li ul li ul li {
	background: #FCC;
}

.alinharEsquerda {
	float: left;
}

.alinharDireita {
	float: right;	
}

.alinharTextoDireita {
	text-align: right !important;
}

#containerEndereco {
	width: 85% !important;
	margin: 0 auto !important;
}

#containerEndereco label {
	margin-top: 3px;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0px;
	height: 0px;	
}

.grid1 {
	width: 10% !important;	
}

.grid2 {
	width: 20% !important;
}

.grid3 {
	width: 30% !important;
}

.grid4 {
	width: 40% !important;
}

.grid5 {
	width: 50% !important;
}

.grid6 {
	width: 60% !important;
}

.grid7 {
	width: 70% !important;
}

.grid8 {
	width: 80% !important;
}

.grid9 {
	width: 90% !important;
}

.gridFull {
	width: 100% !important;
}

.beta5 {
	margin-bottom: 5px !important;	
}

.delta2 {
	margin-top: 2px !important;
}

.delta3 {
	margin-top: 3px !important;
}

.delta5 {
	margin-top: 5px !important;
}	

.delta10 {
	margin-top: 10px !important;
}

.alpha5 {
	margin-left: 5px !important;
}

.alpha10 {
	margin-left: 10px !important;
}

.alpha15 {
	margin-left: 15px !important;
}

.alpha20 {
	margin-left: 20px !important;
}

.alpha40 {
	margin-left: 40px !important;
}

.beta3 {
	margin-right: 3px !important;
}

.gama5 {
	margin: 5px !important;
}

.gama10 {
	margin: 10px !important;
}