<wicket:extend>
	<div class="container_16">
	<div wicket:id="feedbackPerfil"></div>
		<div class="masthead delta40">
			<ul class="nav nav-justified">
				<li><a wicket:id="contatoLink">Contato</a></li>
				<li><a wicket:id="fotoPerfilLink">Foto do Perfil</a></li>
				<li><a wicket:id="segurancaLink">Informações de Segurança</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>

	<div wicket:id="container" class="container_16 padding-left173">
		<div wicket:id="panel"></div>
	</div>
</wicket:extend>